/*
Open BootCamp 2021- HTML +CSS
[Giuseppe Allocca] aka Pino ;)
Ejercicio sesiÃƒÂ³n 5
DisposiciÃƒÂ³n de elementos
y para multimedia
*/

.background{
  width: 50%;
  margin-left: 25%;
  margin-right:25%;
  margin-top:3%;
  }

  .foto{
    position:absolute;
    width: 23%;
    margin-left: 33%;
    margin-right:33%;
    margin-top:0%;
    top:14%;
    right:5.5%;
    opacity: 0;
    transition: opacity 3s;

  }
  .galleria input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
    opacity: 1;}
    .galleria input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
      opacity: 1;}
      .galleria input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
        opacity: 1;}
        .galleria input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4) {
          opacity: 1;}
  .container{
      position: relative;
      }

  .radio1{
    position:absolute;
    right:51.8%;
    top:71%;
  }
    .radio2{
    position:absolute;
    right:48.3%;
    top:71%;
  }
   .radio3{
    position:absolute;
    right:51.8%;
    top:78%;
  }

  .radio4{
    position:absolute;
    right:48.3%;
    top:78%;
  }
