 /*
 Open BootCamp 2021- HTML +CSS
[Giuseppe Allocca] aka Pino ;)
Ejercicio sesión 2 Form
 */
 h2{
	padding: 30;
	background: blue;
	color: white;
  }
fieldset{
	border: 1PX black solid;
	margin: 50;
	pading: 30;
	background: gray;
	color: white;
}
legend{
	color: white;
	padding: 10;
}
.container_form{
	display: inline-table;
	color: white;
	margin: 20%;
	margin-top: 10%;
	text-align:center ;
	width: 60%;
	background: gray;
}
.submit{
	background: blue;
	color: white;
}
